# Google Secrets
.env
server/.env
server/env_backup.txt

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/dist/
client/dist-ssr/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
